// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

body{
    background-image: url(../img/wood-591631_1920.jpg);
    color: black;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: row;
    .col{
        margin: 10px 0;
        box-sizing: border-box;
    }
}
.row{
    --bs-gutter-x: 0;
}
.navbar{
    border-radius: 0 0 20px 20px;
}
.main{
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(99, 91, 91, 0.815);
}
.carousel-item{
    img{
    border-radius: 20px;
    }
}
.index-text{
    p{
        font-weight: bold;
    }
}
.gridmenu{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
    align-items: stretch;
    .Drinks,
    .Desserts,
    .Main-Courses,
    .Appetizers{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 20px;
        border: solid 5px #d4d4d4;
        img{
            width: 300px;
        }
    }
}

.historia{
    display: flex;

    flex-direction: column;
    background-color: #0000009d;
    align-items: center;
    padding: 5px;
    margin: 1%;
    border-radius: 20px;
}
h1{
    text-align: center;
    text-decoration: double solid;
    text-shadow: #900;
    padding: 2px;
    
    margin: 10px ;
}
.carrousel1{
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 5% 2%;
    background-color: rgba(99, 91, 91, 0.815);
    width: 75vw;
}
footer{
    background-color: rgba(99, 91, 91, 0.815);
    border-radius:  20px 20px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.aside {
    border-radius: 20px;
    text-align: center;
    padding: 2% 1%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    border: solid 5px #d4d4d4;
    margin: 1%;

    .noticia {
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: #02020270;
        align-items: center;
        padding: 5px;
        margin: 1%;
        border-radius: 20px;

        p {
            font-weight: bolder;
        }
    }
}

.flexnews{
    display: flex;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}